<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DeviceMapper">

    <resultMap type="Device" id="DeviceResult">
        <id     property="deviceId"         column="device_id"          />
        <result property="deptId"          column="dept_id"           />
        <result property="deviceName"       column="device_name"        />
        <result property="deviceType"       column="device_type"        />
        <result property="ipAddress"        column="ip_address"         />
        <result property="macAddress"       column="mac_address"        />
        <result property="model"            column="model"              />
        <result property="location"         column="location"           />
        <result property="portInfo"         column="port_info"          />
        <result property="status"           column="status"             />
        <result property="snmpCommunity"    column="snmp_community"     />
        <result property="snmpPort"         column="snmp_port"          />
        <result property="snmpVersion"      column="snmp_version"       />
        <result property="pingInterval"     column="ping_interval"      />
        <result property="responsible"      column="responsible"        />
        <result property="responsiblePhone" column="responsible_phone"  />
        <result property="tenantId"         column="tenant_id"          />
        <result property="parentId"         column="parent_id"          />
        <result property="createBy"         column="create_by"          />
        <result property="createTime"       column="create_time"        />
        <result property="updateBy"         column="update_by"          />
        <result property="updateTime"       column="update_time"        />
        <result property="remark"           column="remark"             />
    </resultMap>

    <sql id="selectDeviceVo">
        select d.device_id, d.dept_id, d.device_name, d.device_type, d.ip_address, d.mac_address,
               d.model, d.location, d.port_info, d.status, d.snmp_community, d.snmp_port,
               d.snmp_version, d.ping_interval, d.responsible, d.responsible_phone, d.tenant_id, d.parent_id,
               d.create_by, d.create_time, d.update_by, d.update_time, d.remark
        from iot_device d
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        select d.device_id, d.dept_id, d.device_name, d.device_type, d.ip_address, d.mac_address,
               d.model, d.location, d.port_info, d.status, d.snmp_community, d.snmp_port,
               d.snmp_version, d.responsible, d.responsible_phone, d.tenant_id, d.parent_id,
               d.create_by, d.create_time, d.update_by, d.update_time, d.remark
        from iot_device d
        <where>
            <if test="deviceName != null and deviceName != ''">
                AND d.device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="deviceType != null and deviceType != ''">
                AND d.device_type = #{deviceType}
            </if>
            <if test="status != null and status != ''">
                AND d.status = #{status}
            </if>
            <if test="ipAddress != null and ipAddress != ''">
                AND d.ip_address like concat('%', #{ipAddress}, '%')
            </if>
            <if test="tenantId != null">
                AND d.tenant_id = #{tenantId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(d.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(d.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
    </select>

    <select id="selectDeviceById" parameterType="Long" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where d.device_id = #{deviceId}
    </select>

    <select id="selectDeviceByIp" parameterType="String" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where d.ip_address = #{ipAddress}
    </select>

    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true" keyProperty="deviceId">
        insert into iot_device(
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="deviceType != null and deviceType != ''">device_type,</if>
            <if test="ipAddress != null and ipAddress != ''">ip_address,</if>
            <if test="macAddress != null and macAddress != ''">mac_address,</if>
            <if test="model != null and model != ''">model,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="portInfo != null and portInfo != ''">port_info,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="snmpCommunity != null and snmpCommunity != ''">snmp_community,</if>
            <if test="snmpPort != null">snmp_port,</if>
            <if test="snmpVersion != null and snmpVersion != ''">snmp_version,</if>
            <if test="pingInterval != null">ping_interval,</if>
            <if test="responsible != null and responsible != ''">responsible,</if>
            <if test="responsiblePhone != null and responsiblePhone != ''">responsible_phone,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        )values(
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="deviceType != null and deviceType != ''">#{deviceType},</if>
            <if test="ipAddress != null and ipAddress != ''">#{ipAddress},</if>
            <if test="macAddress != null and macAddress != ''">#{macAddress},</if>
            <if test="model != null and model != ''">#{model},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="portInfo != null and portInfo != ''">#{portInfo},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="snmpCommunity != null and snmpCommunity != ''">#{snmpCommunity},</if>
            <if test="snmpPort != null">#{snmpPort},</if>
            <if test="snmpVersion != null and snmpVersion != ''">#{snmpVersion},</if>
            <if test="pingInterval != null">#{pingInterval},</if>
            <if test="responsible != null and responsible != ''">#{responsible},</if>
            <if test="responsiblePhone != null and responsiblePhone != ''">#{responsiblePhone},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        )
    </insert>

    <update id="updateDevice" parameterType="Device">
        update iot_device
        <set>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="deviceType != null and deviceType != ''">device_type = #{deviceType},</if>
            <if test="ipAddress != null and ipAddress != ''">ip_address = #{ipAddress},</if>
            <if test="macAddress != null and macAddress != ''">mac_address = #{macAddress},</if>
            <if test="model != null and model != ''">model = #{model},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="portInfo != null and portInfo != ''">port_info = #{portInfo},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="snmpCommunity != null">snmp_community = #{snmpCommunity},</if>
            <if test="snmpPort != null">snmp_port = #{snmpPort},</if>
            <if test="snmpVersion != null and snmpVersion != ''">snmp_version = #{snmpVersion},</if>
            <if test="pingInterval != null">ping_interval = #{pingInterval},</if>
            <if test="responsible != null">responsible = #{responsible},</if>
            <if test="responsiblePhone != null">responsible_phone = #{responsiblePhone},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteDeviceById" parameterType="Long">
        delete from iot_device where device_id = #{deviceId}
    </delete>

    <delete id="deleteDeviceByIds" parameterType="Long">
        delete from iot_device where device_id in
        <foreach collection="array" item="deviceId" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>

    <select id="selectOnlineCount" resultType="int">
        select count(*) from iot_device where status = 'ONLINE'
    </select>

    <select id="selectOfflineCount" resultType="int">
        select count(*) from iot_device where status = 'OFFLINE'
    </select>

    <select id="selectDeviceTypeStats" resultType="java.util.HashMap">
        select device_type as "type", count(*) as "count"
        from iot_device
        group by device_type
    </select>

</mapper>
